/* CONTENEDOR GENERAL */

.login-container{

height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:#f5f6f8;

}


/* TARJETA */

.login-card{

width:360px;
background:white;
padding:40px;
border-radius:16px;
box-shadow:0 10px 25px rgba(0,0,0,0.08);
text-align:center;

}


/* LOGO */

.logo-area{

margin-bottom:10px;

}

.logo{

width:140px;
margin-bottom:2px;

}


/* TITULO */

.login-card h1{

margin:10px 0;
font-size:22px;
font-weight:600;
color:#111827;

}


/* SUBTITULO */

.subtitle{

font-size:14px;
color:#6b7280;
margin-bottom:25px;

}


/* CAMPOS */

.campo{

text-align:left;
margin-bottom:18px;

}

.campo label{

font-size:13px;
font-weight:500;
color:#374151;

}

.campo input{

width:100%;
padding:10px;
margin-top:6px;
border-radius:8px;
border:1px solid #d1d5db;
font-size:14px;

}


/* FOCUS */

.campo input:focus{

outline:none;
border-color:#1e9c98;
box-shadow:0 0 0 2px rgba(30,156,152,0.15);

}


/* BOTON */

.btn-login{

width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:10px;
background:#1e9c98;
color:white;
font-size:15px;
cursor:pointer;
transition:0.2s;

}

.btn-login:hover{

background:#178a87;

}