/* === CONTENEDOR GENERAL === */
.content {
  margin-left: 240px;
  padding: 16px;                 /* MISMA separación en todos lados */
  background: #f3f4f6;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 16px;                     /* MISMA separación horizontal */
}

/* === PANEL PRINCIPAL === */
.main-panel {
  background: #ffffff;
  padding: 16px;                 /* misma separación interna */
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.04);
}

/* === SUBTITULO === */
.subtitle {
  color: #6b7280;
  margin-bottom: 16px;           /* misma separación */
}

/* === TARJETAS === */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;                     /* misma separación */
}

/* === CARD === */
.card {
  background: #f9fafb;
  padding: 14px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
  min-height: 75px;
  box-shadow: 0 2px 6px rgba(2, 2, 83, 0.02);
  border: 1px solid #e5e7eb;  
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.05);
}

.card-icon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

/* Colores */
.members { background: #e0e7ff; }
.payments { background: #d1fae5; }
.projects { background: #ede9fe; }
.alert { background: #fef3c7; }

.card h4 {
  font-size: 13px;
  color: #6b7280;
  margin-bottom: 3px;
}

.card p {
  font-size: 26px;
  font-weight: 500;
  margin: 6px;
  color: #111827;
}

/* === PANEL ACTIVIDADES === */
.activity-panel {
  background: #ffffff;
  padding: 16px;                 /* misma separación */
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.04);
}

.activity-item {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 12px 14px;
  margin-bottom: 12px;
  transition: background 0.2s ease;
}

.activity-item:hover {
  background: #f3f4f6;
}

.activity-item p {
  margin: 4px 0 0 0;
  font-size: 13px;
  color: #1e9c98;
}

.panel-label {
  display: inline-block;
  background: #0ea5a4; /* verde aqua */
  color: #ffffff;
  padding: 6px 14px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}

.panel-header {
  width: 100%;
  box-sizing: border-box; /* MUY IMPORTANTE */
  background:#0ea5a4;
  padding: 18px 24px;
  border-radius: 12px;
  margin-bottom: 20px;
  color: white;
}

.panel-header-content h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.panel-subtitle {
  font-size: 13px;
  opacity: 0.85;
}